# Node
node_modules/
pnpm-lock.yaml
yarn.lock
npm-debug.log*
.vscode/
.DS_Store

# Build output
dist/
build/
coverage/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.pytest_cache/

# IDE
*.iml
.idea/
